<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    favoriteList backend테스트용
    프론트에서 누를때마다 1과 0이 변환되게 해야 돌아감
    만약 누를때마다 1이면 계속 1임 무조건~
    
    <p>관심S_ID: <%= response[0].S_ID %></p>
</body>
</html>